:root {
  --primary-bg-color: #F3EFEA;
  --text-color:#3A2F2A;
  --secondary-color:#C7B8A6;
  --accent-color:#6B7F5A;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
  overflow-x: hidden;
  width: 100%;
}


  /* Thasadith Font */
  .thasadith-regular {
    font-family: "Thasadith", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .thasadith-bold {
    font-family: "Thasadith", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .thasadith-regular-italic {
    font-family: "Thasadith", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .thasadith-bold-italic {
    font-family: "Thasadith", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  h2, h3, h4, h5, h6{
    font-family: "IBM Plex Serif", serif;
    
  }

  /* IBM Font */
  .ibm-plex-serif-regular {
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ibm-plex-serif-semibold {
    font-family: "IBM Plex Serif", serif;
    font-weight: 600;
    font-style: normal;
  }

   body{
    background-color: var(--primary-bg-color);
    font-family: "Thasadith", sans-serif;
    color:var(--text-color)
  }
  
  
  .wrapper,
  .section.hero {
    position: relative;
    
    height: 100%;
    z-index: 1;
  }
  
  .section.hero {
    overflow-x: hidden;
  }
  
  .start .section {
    width: 100%;
    height: 100vh;
  }
  
  .start .section.hero {
  background-image: url(../imgs/fer-sehen-6nS6_59REnA-unsplash.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; 
  overflow-x: hidden;
}


  .image-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    perspective: 500px;
    overflow: hidden;
    
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  
  }


/* Profile Setion */

#profile{
  display:flex;
  flex-direction:column;
  padding-top: 10%;
 
}

#profile h2{
  text-align: center;
}

#main-port{
  padding: 5% 10% 0 10%;
  display:flex;
  flex-direction:row;
  justify-content: space-evenly;
  gap:5%;
  
}

#pfp{
  background-image: url(../imgs/headshot.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  width:100%;
  max-width: 400px;
  aspect-ratio: 1;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);

}

#personal-info{
  display:flex;
  flex-direction:column;
  gap:15px;
  justify-content: center;
  
}

.bio{
  background-color: var(--accent-color);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  padding:2.5%;
  color:var(--primary-bg-color);

}

.details{
   background-color: var(--accent-color);
   box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
   padding:2.5%;
   color:var(--primary-bg-color);

}

.details a{
  color: inherit; 
  text-decoration: none;
}

.details a:hover{
  color: var(--text-color); 
}

  #profile img{
    all:unset !important;
    width:5%;
  }


  dl {
    grid-column: 1/3;
    grid-row: 2/3;
    clear:both;
    display: grid;
    grid-template: repeat(8, auto) / 8em 1fr;
    font-size:.9rem;
  }
  
  dt {
    font-weight: 800;
    grid-column: 1;
    padding: 10px 0;
    border-bottom: 1px solid #73706F;
    
  }

  dd {
    margin: 0;
    grid-column: 2;
    padding: 10px 0;
    border-bottom: 1px solid #73706F;
  }



/* Resume and Cover Letter Section */

#resume-CoverLetter h2{
text-align: center;
padding:2.5%;

}


  #res-let-wrapper{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-content: space-between;
    gap:50px;
    


  }

.card{
  background-color: var(--accent-color);
  width:350px;
  height:auto;
  padding-top:20px;
  padding-bottom:20px;
  border-radius: 5%;
  display:flex;
  flex-direction:column;
  align-items: center;
  gap:10px;
  color:var(--primary-bg-color);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}


.card-img{
  background-color:lightgray;
  display: flex;
  justify-content: center;
  border-radius: 5%;
  width:300px;
}

.card a{
  color: inherit;        
  text-decoration: none; 
  background-color:var(--text-color); 
  font-size: 18px;
  padding:7px;
  border-radius: 5%;

}

.card a:hover{
  background-color: var(--secondary-color);

}

.img{
  background-image:url(../imgs/resume-img.jpg) ;
  width:264px;
  height:341px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  
}

  .card img{
   all:unset !important;
   width:300px;
   height:auto;
   object-fit:cover;
   display:block;
  
  }